<% layout('layout/boilerplate')%>
	
<div class="row">
	<div class="my-5">
		<h2 id="title" class="text-center">Edita caminata <i class="fas fa-edit"></i> </h2>		
	</div>
	
	<div class="col-6 offset-3">		          
		<form action="/walks/<%= walk._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" novalidate>
			<h6 class="mb-3">Datos de la ruta</h6>
			<div class="mb-4">
				<label class="form-label " for="title1">Nombre</label>
			    <input class="form-control" type="text" name="walk[title]" id="title1" value="<%= walk.title %>" required>				
			</div>
			<div class="mb-4">
				<label class="form-label " for="text">Descripción</label>
				<textarea class="form-control" type="text" name="walk[text]" id="text" required><%= walk.text %></textarea>				
			</div>
			<div class="mb-4">
				<label class="form-label  " for="location">Inicio ruta</label>
			    <input class="form-control" type="text" name="walk[location]" id="location"  value="<%= walk.location %>" required>
			</div>
			<!-- <div class="mb-3">
				<label class="form-label  visually-hidden" for="start">Punto de inicio</label>
			    <input class="form-control" type="Number" name="walk[start]" id="start"  value=" walk.start %>" required>
			</div> -->
			<div class="mb-4">
				<label class="form-label" for="end">Destino</label>
			    <input class="form-control" type="text" name="walk[end]" id="end"  value="<%= walk.end %>" required>
			</div>
						
			<div class="mb-4">
                  <label class="form-label" for="distance">Distancia</label>
                  <div class="input-group">                   
                      <input type="number" class="form-control" id="distance" value="<%= walk.distance %>"  aria-label="distance"
                        aria-describedby="distance-label" name="walk[distance]" required>
					  <span class="input-group-text" id="distance-label">kms</span>
                  </div>                  
             </div>
			
		     <div class="mb-4">
                  <label class="form-label" for="time">Tiempo</label>
                  <div class="input-group">                   
                      <input type="number" class="form-control" id="time" value="<%= walk.time %>" aria-label="time"
                        aria-describedby="time-label" name="walk[time]" required>
					  <span class="input-group-text" id="time-label">minutos</span>
                  </div>                 
             </div>
			
			<div class="mb-4">
                  <label class="form-label" for="ascent">Desnivel de ascenso</label>
                  <div class="input-group">                   
                      <input type="number" class="form-control" id="ascent" value="<%= walk.ascent %>" aria-label="ascent"
                        aria-describedby="ascent-label" name="walk[ascent]" required>
					  <span class="input-group-text" id="ascent-label">metros</span>
				</div>                  
             </div>
			
			 <div class="mb-4">
                  <label class="form-label" for="descent">Desnivel de descenso</label>
                  <div class="input-group">                   
                      <input type="number" class="form-control" id="descent" value="<%= walk.descent %>" aria-label="descent"
                        aria-describedby="descent-label" name="walk[descent]" required>
					  <span class="input-group-text" id="descent-label">metros</span>
                  </div>                  
             </div>				
			<hr>	
			<h6 class="mb-3">Nivel de dificultad</h6>	
			<!-- <div class="mb-4">
				<label class="form-label" for="difficulty">Dificultad</label>
			    <input class="form-control" type="text" name="walk[difficulty]" id="difficulty" value="< walk.difficulty %>"required>
			</div> -->
			
			<div class="mb-4">			
				<div class="form-check">
                  <input class="form-check-input" type="radio" name="walk[difficulty]" id="radios1" value="Fácil"  >
                  <label class="form-check-label" for="radios1">
                      Fácil
                 </label>
               </div>
               <div class="form-check">
                 <input class="form-check-input" type="radio" name="walk[difficulty]" id="radios2" 
						value="Intermedio" >
                 <label class="form-check-label" for="radios2">
                    Intermedio
                 </label>
               </div>
               <div class="form-check">
                 <input class="form-check-input" type="radio" name="walk[difficulty]" id="radios3" value="Díficil">
                 <label class="form-check-label" for="radios3">
                     Díficil
                 </label>
               </div>
			</div>
			
			<hr>	
			<h6 class="mb-3">Nivel de dificultad</h6>	
			<!-- <div class="mb-4">
				<label class="form-label" for="difficulty">Dificultad</label>
			    <input class="form-control" type="text" name="walk[difficulty]" id="difficulty" value="< walk.difficulty %>"required>
			</div> -->
			
			<div class="mb-4">			
				<div class="form-check">
                  <input class="form-check-input" type="radio" name="walk[layout]" id="radios1" value="Solo ida"  >
                  <label class="form-check-label" for="radios1">
                      Solo ida
                 </label>
               </div>
               <div class="form-check">
                 <input class="form-check-input" type="radio" name="walk[layout]" id="radios2" 
						value="Circular" >
                 <label class="form-check-label" for="radios2">
                    Circular
                 </label>
               </div>
              
			</div>		
			
			
			<hr>	
			<h6 class="mb-3">Añade o borra fotos</h6>
			<div class="mb-4">				
				<input type="file" name="image" id="image" multiple>			   				
			</div>
			<div class="row">
				<!-- <div class="col-md-6"> -->
			
				<% walk.image.forEach(function(img, i){ %>
				<div class="col-6  mt-3 mb-3">
				<div class="card h-100 border-success " >						
				       <img src="<%= img.thumbnail %>" class="img-edit card-img-top" alt="">
					   <div class="form-check-inline text-center p-3">
						   <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
						    <label for="">Borrar</label> 
				       </div>
				  
					</div>  
			    </div>	
				<% }) %>
				<% walk.image.forEach(function(img, i){ %>
				<div class="col-6  mt-3 mb-3">
				<div class="card h-100 border-success " >						
				       
					   <div class="form-check-inline text-center p-3">
						   <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
						    <label for=""><%= img.filename %></label> 
				       </div>
				  
					</div>  
			    </div>	
				<% }) %>
				
				
				
					 
			<!-- </div>	 -->
		    </div>			
			<div class="d-grid gap-2 my-4">
				<button class="btn btn-success">Actualiza</button>					
			</div>					
		</form>
		<a class="btn btn-outline-success px-5 mb-3" href="/walks/<%= walk._id %>">Cancela</a>
    </div>	
</div>


<script>	
	var x = document.getElementsByClassName("form-check-input");
    var i;
    for (i = 0; i < x.length; i++) {
        if (x[i].value === "<%= walk.difficulty %>") {
            x[i].checked = true;
        }
      }
	var y = document.getElementsByClassName("form-check-input");
    var i;  
	for (i = 0; i < y.length; i++) { 
        if (y[i].value === "<%= walk.layout %>") {
           y[i].checked = true;
        }
      }  
		
	
</script>

